<h2>Finance Calculations</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Months</th>
      <th scope="col">Beginning Performing Principal</th>
      <th scope="col">Scheduled Payment</th>
      <th scope="col">Scheduled Interest</th>
      <th scope="col">Servicing Fee</th>
      <th scope="col">Scheduled Principal</th>
      <th scope="col">Ending Perf Balance</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>#</td>
      <td><%= @princinpal_balance %></td>
      <td><%= @scheduled_payment %></td>
      <td><%= @scheduled_interest %></td>
      <td>#</td>
      <td><%= @scheduled_principal %></td>
      <td><%= @ending_perf_balance %></td>
    </tr>
  </tbody>
</table>