<h2>Finance Calculations</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Months</th>
      <th scope="col">Beginning Performing Principal</th>
      <th scope="col">Scheduled Payment</th>
      <th scope="col">Scheduled Interest</th>
      <th scope="col">Servicing Fee</th>
      <th scope="col">Scheduled Principal</th>
      <th scope="col">Ending Perf Balance</th>
    </tr>
  </thead>
  <tbody>
    <% (1..(@duration)).each do |month|  %>
      <tr>
        <td><%= month %></td>
        <td><%= @payments[month - 1].round %></td>
        <td><%= @scheduled_payment.round %></td>
        <td><%= @interests[month - 1].round %></td>
        <td> - </td>
        <td><%= @principals[month - 1].round %></td>
        <td><%= @end_perf_balances[month - 1].round %></td>
      </tr>
    <% end %>
  </tbody>
</table>