<div>
  <h2>Enter values here..</h2>
</div>
<div> 
  <%= form_tag(rate_calculators_index_path, method: :get) do %>
    <div class="form-group row">
      <label for="inputPassword" class="col-2 col-form-label">Unpaid Principal Balance</label>
      <div class="col-10">
        <%= text_field_tag :unpaid_principal_balance %>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputPassword" class="col-2 col-form-label">Weighted Average Coupan(WAC)</label>
      <div class="col-10">
        <%= text_field_tag :wac %>
      </div>
    </div>
    
    <div class="form-group row">
      <label for="inputPassword" class="col-2 col-form-label">Servicing Fee</label>
      <div class="col-10">
        <%= text_field_tag :servicing_fee %>
      </div>
    </div>
    
    <div class="form-group row">
      <label for="inputPassword" class="col-2 col-form-label">Remaining Amortization Term</label>
      <div class="col-10">
        <%= text_field_tag :remaining_amortization_term %>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputPassword" class="col-2 col-form-label">Remaining Term to Maturity</label>
      <div class="col-10">
        <%= text_field_tag :remaining_term_to_maturity %>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputPassword" class="col-2 col-form-label">Loss Assumption</label>
      <div class="col-10">
        <%= text_field_tag :loss_assumption %>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputPassword" class="col-2 col-form-label">Prepayment Assumption</label>
      <div class="col-10">
        <%= text_field_tag :prepayment_assumption %>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputPassword" class="col-2 col-form-label">Price Paid vs PAR (Par = 100)</label>
      <div class="col-10">
        <%= text_field_tag :price_paid %>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputPassword" class="col-2 col-form-label"></label>
      <div class="col-10">
        <button class="btn btn-success">Submit</button>
      </div>                    
    </div>
  <% end %>
</div>
